apiVersion: v1
kind: Service
metadata:
  labels:
    app: facilitator-backend
  name: facilitator-backend
  namespace: acedatacloud
spec:
  ports:
    - name: "8000"
      port: 8000
      targetPort: 8000
  selector:
    app: facilitator-backend
